on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    name: Build and Deploy
    steps:
    - name: Build
      run: |
        npm install
        npm run build
        npm run test --if-present
    - name: Deploy
      uses: EndBug/add-and-commit@v7.2.1
