on:
  push:
    branches:
      - main

env:
  NODE_VERSION: '16.x'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment:
      name: Live
    name: Build and Deploy
    steps:
    - name: Checkout repo
      uses: actions/checkout@v2
    - name: Use Node.js ${{ env.NODE_VERSION }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ env.NODE_VERSION }}
    - name: Build
      run: |
        npm install
        npm run build
        npm run test --if-present
    - name: Deploy
      uses: EndBug/add-and-commit@v7.2.1
      with:
        message: "Publish"
